/* Setup colors used for page */
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$dark-blue-main-bg: hsl(217, 54%, 11%);
$dark-blue-card-bg: hsl(216, 50%, 16%);
$dark-blue-line: hsl(215, 32%, 27%);
$white-font: hsl(0, 0%, 100%);

body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  margin: 0;
  box-sizing: border-box;
  background-color: $dark-blue-main-bg;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-component {
  display: flex;
  background-color: $dark-blue-card-bg;
  width: 327px;
  height: 543px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 10px;

  .nft-image {
    width: 278px;
    height: 278px;
    border-radius: 10px;
  }

  .description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    .nft-title {
      color: $white-font;
      font-size: 1.22rem;
      font-weight: 600;
    }
    .nft-description {
      color: $soft-blue;
      line-height: 26px;
      font-weight: 300;
    }
    .info-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .info {
        display: flex;
        flex-direction: row;
        height: 19px;
        p {
          margin: 0;
        }
        .eth-image {
          width: 11px;
          height: 18px;
        }
        .clock-image {
          height: 16px;
          width: 16px;
        }
      }
    }
  }
}
